@inherits LayoutComponentBase;
@implements IComponent;
@using static Shared.NavMenu;

<PageTitle>Menu</PageTitle>

<div class="d-flex">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <LoginDisplay /> *@
        </div>

        <article class="content ">
            @Body
        </article>
    </main>
</div>
