@using Microsoft.Identity.Abstractions;
@using Microsoft.Identity.Web;
@using System.Text.Json
@inject IDownstreamApi downstreamApi
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@using DA;
@using BL;


@page "/"

<PageTitle>Email Mamagement</PageTitle>

<IndexHeader />
<UI.Components.Table />

@* <AuthorizeView>
    <Authorized>
        Authorized
        @if (pilotageEmail != null)
        {
            @foreach (var email in pilotageEmail)
            {
                <p>@email.Subject - @email.From</p>
            }

        }
        }
        }

        @code {
        private List<PilotageEmail> pilotageEmail = null;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                // using var response = await downstreamApi.CallApiForUserAsync("GraphApi").ConfigureAwait(false);
                // response.EnsureSuccessStatusCode();
                // graphApiResponse = await response.Content.ReadFromJsonAsync<JsonDocument>().ConfigureAwait(false);

                using (var context = new MailContext())
                {

                    pilotageEmail = context.PilotageEmails.ToList();
                    Console.WriteLine($"{pilotageEmail.Count} emails");


                }
            }
            catch (Exception ex)
            {
                ConsentHandler.HandleException(ex);
            }
        }
        }
    </Authorized>
    <NotAuthorized>
        NotAuthorized
    </NotAuthorized>
</AuthorizeView>
 *@