<div class="collapse !p-0 mt-4">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium !p-0 h-min">
        <span class="flex items-center gap-1">

            Statistikker
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chevron-down">
                <path d="m6 9 6 6 6-6" />
            </svg>
        </span>
        <div class="divider  invert" />

    </div>
    <div class="collapse-content !p-0">
        <div>
            <div class="w-min flex flex-col ">
                <h3 class="font-medium">Håndtering af emails</h3>
                <img src="images/pie1.png" alt="" class="object-cover min-w-32 h-32">

                <div class="flex justify-between flex-col">
                    <div class="flex gap-1 items-center">
                        <div class="badge !bg-[#0869A6] !border-[#0869A6] badge-xs" />
                        <p class="text-sm text-nowrap">Automatisk</p>
                    </div>
                    <div class="flex gap-1 items-center">
                        <div class="badge !bg-[#F2BE5C] !border-[#F2BE5C] badge-xs" />
                        <p class="text-sm text-nowrap">Semi-auto</p>
                    </div>
                    <div class="flex gap-1 items-center">
                        <div class="badge !bg-[#F23030] !border-[#F23030] badge-xs" />
                        <p class="text-sm text-nowrap">Manuel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
