<div role="tablist" class="tabs tabs-lifted w-min">

    <a role="tab" class="tab tab-active">
        <NavLink href="Indboks">indboks</NavLink>
    </a>
    <a role="tab" class="tab ">
        <NavLink href="Indboks">Færdige</NavLink>
    </a>

</div>

@code {

}
